@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope';
  font-weight: 800;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

.app {
  background-color: var(--dark-blue);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: var(--dark-grayish-blue);
  width: 90%;
  height: 48%;
  margin-top: 32%;
  display: inherit;
  flex-direction: column;
  align-items: center;
  border-radius: 4%;
  position: relative;
}

.advice-container {
  /* background: skyblue; */
  height: 45%;
  width: 90%;
  margin-top: 2%;
  /* padding: 0 0%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ad {
  font-size: .68em;
  letter-spacing: .2em;
  color: var(--neon-green);
  font-weight: 800;
  margin-top: 12%;
}

.advice-container p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.mbl-divider {
  width: 85%;
  margin-top: 10%;
}

.dktp-divider {
  display: none;
}

.btn {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  position: absolute;
  top: 90.5%;
  z-index: 1;
  background-color: var(--neon-green);
  cursor: pointer;
  border: 3px solid transparent;
  transition: box-shadow .2s ease-in-out;
}

.dice {
  position: absolute;
  top: 33.5%;
  left: 29%;
}

.btn:hover {
  box-shadow: 0 0 20px 2px var(--neon-green);
}

.no-quote {
  margin-top: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    background-color: var(--dark-grayish-blue);
    width: 50%;
    height: 50%;
    margin-top: 20%;
  }

  #ad {
    font-size: 1.4rem;
  }


  .advice-container p {
    font-size: 2rem;
  }

  .advice-container {
    margin-top: 1%;
    height: 50%;
    /* background-color: aqua; */
  }

  .mbl-divider {
    display: none;
  }

  .dktp-divider {
    display: block;
    position: absolute;
    top: 80%;
    width: 80%;
  }

  .btn {
    height: 5rem;
    width: 5rem;
    top: 93%;
  }

  .dice {
    left: 33%;
  }
}


@media screen and (min-width:1000px) {
  .container {
    margin-top: 15%;
    border-radius: 20px;
    width: 40%;
    height: 40%;
  }

  #ad {
    font-size: 1.7rem;
  }

    .advice-container  {
      margin-top: 1%;
      height: 50%;
/* background-color: aqua; */
    }
  .advice-container p {
    font-size: 1.5rem;
  }

  .dktp-divider {
    top: 80%;
    width: 80%;
  }

    .btn {
      height: 4rem;
      width: 4rem;
      top: 93%;
    }
  
    .dice {
      height: 1.5rem;
      top: 28%;
      left: 28%;
    }
}

@media screen and (min-width:1440px) {
  .container {
    margin-top: 15%;
    border-radius: 20px;
    width: 40%;
    height: 40%;
  }

  #ad {
    margin-top: 6%;
    font-size: .8rem;
  }


  .advice-container {
    margin-top: 1%;
    height: 50%;
    /* background-color: aqua; */
  }

  .advice-container p {
    font-size: 1.5rem;
  }


  .dktp-divider {
    top: 75%;
  }

     .btn {
       height: 4rem;
       width: 4rem;
       top: 90%;
     }
  
}